
  <!doctype html>
  <html lang="en">
    <head>
      <style media="screen">
    .mainDiv{
    background:#87B548
    }

    label {
     cursor: pointer;

    </style>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

      <title>Learn More</title>
    </head>
    <body oncontextmenu="return false">
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/">One-Stop Machine Learning</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    </div>
  </nav><br>
  <h4 align="center">{{name}}</h4><br>
  <a href="/learn_more"><img src="static/back.png" style="top:40%;left:5%;width:100px;height:100px;position:absolute;"/></a>
  <img src="{{filename}}" style="display:block;margin:auto;"/>
    </body>
  </html>