
  <!doctype html>
  <html lang="en">
    <head>
      <style media="screen">
    .mainDiv{
    background:#87B548
    }

    label {
     cursor: pointer;

    </style>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

      <title>One-Stop Machine Learning</title>
    </head>
    <body oncontextmenu="return false">
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/">One-Stop Machine Learning</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    </div>
  </nav>
  <div class="jumbotron" id="connect">
    <h1 class="display-4">Data Science with Just a few clicks!</h1>
    <p class="lead">Making life easier</p>
    <hr class="my-4">
    <b>Don't know what to Use? <a href="/learn_more">Click Here</a> to learn more about the algorithms below</b><br><br>
    <h6> Created by Karthik Peddi</h6>
   </div>

  <div class="mainDiv" id="portfolio">
    <div class="d-flex flex-row justify-content-center">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/linear.png"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Linear Regression</h5>
        <p class="card-text">Everything about Linear Data</p>
        <br>
        <a href=/linear_reg class="btn btn-primary">Lets Start</a>
    </div>
  </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/logistic.PNG" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Logistic Regression</h5>
        <p class="card-text">Lets do a Binary Classification First </p>
        <br>
        <a href=/logistic_reg class="btn btn-primary">Lets Start</a>
    </div>
  </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/decision tree regression.PNG"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Decision Tree</h5>
        <p class="card-text">Lets grow some Data Trees for Classification</p>

        <a href="/decision_tree" class="btn btn-primary">Lets Start</a>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/dd.PNG"   alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Naive Bayes Classification</h5>
        <p class="card-text">Lets do some classification based on Probability</p>
        <a href=/naive_bayes class="btn btn-primary">Lets Start</a>
      </div>
    </div>


    </div>
    <div class="d-flex flex-row justify-content-center">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/static/rf regression.PNG"   alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Random Forest Regression</h5>
          <p class="card-text">Boosting up your trees with some more data.</p><br>
          <a href=/random_forest2 class="btn btn-primary">Lets Start</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/static/rf classification.PNG"   alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Random Forest Classification</h5>
          <p class="card-text">Finding your Forest Classifiers</p>
          <br>
          <a href=/random_forest class="btn btn-primary">Lets Start</a>
        </div>
      </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/knnr.PNG"   alt="Card image cap" >
      <div class="card-body">
        <h5 class="card-title">K Nearest Neighbours Classification</h5>
        <p class="card-text">Classify based on your neighbours</p>
<br>
        <a href=/Knn class="btn btn-primary">Lets Start</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/knnc.PNG"   alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">K Means Clustering</h5>
        <p class="card-text">Form clusters from the data</p><br>
<br>
        <a href=/kmeans class="btn btn-primary">Lets Start</a>
      </div>
    </div>
  </div>
    </body>
  </html>